[Desktop Entry]
Version=1.0
Name=Backup (gui) my system usb to usb
Comment=Copy disk with the same space
Exec=/home/stephane/Code/Python/backupmysystemusb2usb/gui.sh
Icon=/usr/share/pixmaps/python3.7.xpm
Path=/home/stephane/Code/Python/backupmysystemusb2usb/
Terminal=false
Hidden=false
Type=Application
Categories=Utility;Application;
