[Desktop Entry]
Name=Backup my sytem usb to usb
#GenericName=Terminal
Comment=standard terminal emulator for the X window system
Exec=/home/stephane/Code/Python/backupmysystemusb2usb/run_user.py
Icon=org.gnome.Terminal 
Path=/home/stephane/Code/Python/backupmysystemusb2usb/
Terminal=true
Hidden=false
Type=Application
#Encoding=UTF-8
Categories=Utility;Application;
X-Desktop-File-Install-Version=0.24
