[Desktop Entry]
Type=Application
Exec gnome-terminal --full-screen --hide-menubar --command "~/Code/Python/backupmysystemusb2usb/run_user.sh"
Hidden=false
X-GNOME-Autostart-enabled=true
Name=Backup my system usb to usb
Comment=This autostart need a root service

