[Unit]
After=ssh.service

[Service]
ExecStart=/usr/bin/sh -c "/home/stephane/Code/Python/backupmysystemusb2usb/run.py > /home/stephane/Temp/BackupMySystemTemp.log 2>&1"

[Install]
WantedBy=default.target
