[Unit]
After=ssh.service

[Service]
WorkingDirectory=/home/stephane/Code/Python/backupmysystemusb2usb/
ExecStart=/usr/bin/sh -c "/home/stephane/Code/Python/backupmysystemusb2usb/run.py config.yml"

[Install]
WantedBy=default.target
